mixin hotel(hotel)
    //-with hotel(hotel) we named the mixin hotel and passed in the hotel data for each hotel from the database

    .hotel
        .hotel_img
            a(href=`/all/${hotel._id}`)
                //- `/all/${hereGoesTheDynamicSection}`
                img(src=`/images/hotels/${hotel.image}`)
        .hotel_info
            a(href=`/all/${hotel._id}`)
            //-h3 Hotel 1 this is a static data
            h3=hotel.hotel_name
            hr
            p= `Star rating: ${hotel.star_rating}`
            p= `Country: ${hotel.country}`
            p= `Cost per night: $ ${hotel.cost_per_night}`