mixin hotel(hotel)
    //-with hotel(hotel) we named the mixin hotel and passed in the hotel data for each hotel from the database

    .hotel
        .hotel_img
            a(href=`/all/${hotel._id}`)
                //- `/all/${hereGoesTheDynamicSection}`
                //- img(src=`/images/hotels/${hotel.image}`) this was before uploading the images to the cloud
                img(src=`http://res.cloudinary.com/magicmike87/image/upload/${hotel.image}.jpg`)
        .hotel_info
            a(href=`/all/${hotel._id}`)
                h3=hotel.hotel_name
            //-h3 Hotel 1 this is a static data
            hr
            if url.startsWith('/all/')
                p=hotel.hotel_description
                hr
                //- the description and the horizontal line will be rendered just if we are in the '/all/' url. Note that they will be rendered just in the hotel detail page and not when all hotels are shown.In index.js we have '/all' and '/all/:hotel', which are not the same thing indeed.
            p= `Star rating: ${hotel.star_rating}`
            p= `Country: ${hotel.country}`
            p= `Cost per night: $ ${hotel.cost_per_night}`